html,
body {
	height: 100%;
}

body{
  font-size: 16px;
  line-height: 27px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: $default;
  overflow-x: hidden;
  min-width: 300px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container{
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid{
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 10px;
}

button{
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.slick-dots{
  display: flex;
  justify-content: center;
  align-items: center;
  li{
    padding: 0 15px;
  }
  button{
    background-color: $title;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    font-size: 0;
  }
  li.slick-active{
    button{
      background-color: #FFEF35;
    }
  }
}

.info-email {
  font-weight: 600;
  color: $title;
  font-size: 14px;
  padding-left: 30px;
  margin-bottom: 22px;
  display: inline-block;
  position: relative;
  &::before{
    content: '';
    background-image: url(../images/envelope.svg);
    position: absolute;
    top: 8px;
    left: 0;
    width: 16px;
    height: 12px;
  }
}

.title{
  color: $title;
  @extend %title-font;
  position: relative;
  &::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 200px;
    height: 1px;
    background-color: #6D7278;
  }
}