$accent: #1C62CD;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

button {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

body {
  color: #2F3035;
  font-family: "ProDisplay-Regular", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  overflow-x: hidden;
  min-width: 320px;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.page-section {
  margin-bottom: 80px;
}

.header {
  &__top {}

  &__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 122px;
    font-family: "SFProDisplay-Bold", sans-serif;
    font-weight: 700;
  }

  &__box {
    display: flex;
  }

  &__address {
    margin-right: 60px;
    width: 265px;
    padding-left: 30px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background-image: url('../images/address-icon.svg');
      width: 30px;
      height: 30px;
      left: 0;
      top: -10px;
    }
  }

  &__bottom {
    margin-bottom: 80px;
  }
}

.menu {
  &__list {}

  &__item {
    display: inline-block;
  }

  &__item+&__item {
    padding-left: 50px;
  }

  &__link {}

  &__btn {
    display: none;
  }

  &__btn-line {}

  &__mobile-linewrapper {
    display: none;
  }
}

.logo {
  &__img {}
}

.menu-mobile {
  &__list {
    width: 243px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    transform: translateX(-100%);
    transition: all .3s;
    position: absolute;
    z-index: 10;
    background-color: #fff;
  }

  &__list--active {
    transform: translateX(0);
  }

  &__item {
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  &__link {
    display: block;
    padding-left: 53px;
    padding-top: 36px;
  }

  &__img {
    position: absolute;
    left: 11px;
    bottom: 0;
  }
}

.user-list {
  margin-right: 15px;
  display: flex;
  align-items: center;

  &__item {
    padding-right: 10px;
  }

  &__link {}

  &__img {}
}

.basket {
  position: relative;

  &__num {
    position: absolute;
    font-family: "SFProDisplay-Medium", sans-serif;
    font-weight: 500;
    color: #fff;
    font-size: 10px;
    line-height: 20px;
    width: 20px;
    height: 20px;
    background-color: $accent;
    border-radius: 50%;
    text-align: center;
    bottom: 0px;
    right: -15px;
  }
}

.menu-categories {
  background-color: #F0F0F4;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 53px;

  &__item {}

  &__link {
    transition: all .3s;
    padding: 15px 0 14px;
    font-weight: 400;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 0;
      right: 0;
      left: auto;
      background-color: $accent;
      height: 3px;
      bottom: -2px;
      transition: all 0.3s;
    }

    &:hover {
      color: #000;

      &::before {
        width: 100%;
        right: auto;
        left: 0;
      }
    }
  }
}

.banner-section {
  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__slider {
    max-width: 870px;
  }

  &__slider-item {}

  &__slider-img {
    object-fit: cover;
    min-height: 400px;
  }

  &__item {}

  &__slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
  }

  &__slider-btnprev {
    left: 20px;
  }

  &__slider-btnnext {
    right: 20px;
  }
}

.slick-dots {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  text-align: center;

  li {
    display: inline-block;
    padding: 0 5px;
  }

  button {
    font-size: 0;
    width: 11px;
    height: 11px;
    border: 1px solid #fff;
    border-radius: 50%;
  }

  .slick-active button {
    background-color: #fff;
  }
}

.price {
  font-family: 'Barlow', sans-serif;
  position: relative;
}

.sale-item {
  max-width: 265px;
  text-align: center;
  border: 1px solid #CDCDCD;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__info {
    color: #fff;
    background-color: $accent;
    padding: 8px 20px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.1em;
  }

  &__price {
    text-align: right;
  }

  &__price-new {
    font-weight: 700;
    font-size: 27px;
    line-height: 32px;
    color: $accent;
    margin-right: 7px;
    padding-right: 20px;

    &::after {
      content: '';
      background-image: url('../images/icons-price.svg');
      position: absolute;
      right: 0;
      top: 8px;
      width: 15px;
      height: 18px;
    }
  }

  &__price-old {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #C4C4C4;
    margin-right: 15px;
    padding: 2px 5px;
    display: inline-block;
    background-image: url('../images/old-line.svg');
    background-repeat: no-repeat;

    &::after {
      content: '';
      background-image: url('../images/icons-price-old.svg');
      position: absolute;
      right: -10px;
      top: 4px;
      width: 8px;
      height: 10px;
    }
  }

  &__img {
    object-fit: contain;
  }

  &__title {
    font-family: "SFProDisplay-Bold", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 7px;
  }

  &__footer {
    background-color: #F0F0F4;
    padding: 25px 20px;
    font-size: 18px;
    line-height: 21px;

    span {
      font-family: 'Barlow', sans-serif;
      font-weight: 700;
      color: $accent;
      display: block;
    }
  }
}

.tabs-content {
  display: none;
}

.tabs-content.tabs-content--active {
  display: block;
}

.search {
  &__inner {}

  &__tabs {
    margin-bottom: 25px;
  }

  &__tabs-item {
    padding: 11px 26px 12px;
  }

  &__tabs-item.tab--active {
    border-radius: 5px;
    background-color: #F0F0F4;
    font-family: "SFProDisplay-Bold", sans-serif;
    font-weight: 700;
  }

  &__content {}

  &__content-item {}

  &__content-item.tabs-content--active {}

  &__content-form {
    display: flex;
  }

  &__content-input {
    background: #F0F0F4;
    border-radius: 3px;
    padding: 5px 20px;
    border: none;
    font-size: 16px;
    line-height: 19px;
    width: 100%;

    &::placeholder {
      color: #656464;
    }
  }

  &__content-btn {
    font-family: "SFProDisplay-Bold", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #fff;
    background: $accent;
    border-radius: 3px;
    padding: 17px 41px;
    margin-left: -3px;
  }
}

.categories {
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    margin-bottom: 30px;
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    width: 370px;
    display: flex;
    padding: 20px 20px 16px;
    justify-content: space-between;
    transition: all .3s;

    &:hover {
      box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
    }

    &:hover .categories__item-title {
      color: $accent;
    }
  }

  &__item-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__item-title {
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    transition: all .3s;
  }

  &__item-text {
    font-size: 14px;
    line-height: 17px;
    color: #C4C4C4;

    &::after {
      content: url('../images/link-arrow.svg');
      padding-left: 3px;
    }
  }

  &__item-img {
    text-align: center;
    width: 50%;

    img {
      max-width: 100%;
    }
  }
}


.products {
  &__inner {}

  &__title {
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 25px;
  }

  &__tabs {
    margin-bottom: 25px;
  }

  &__tab {
    padding-bottom: 10px;
  }

  &__tab+&__tab {
    margin-left: 50px;
  }

  &__tab.tab--active {
    border-bottom: 2px solid $accent;
  }

  &__container {}

  &__content {}
}

.product-slider {
  &__item {}

  &__slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
  }

  &__slider-btnprev {
    left: -40px;
  }

  &__slider-btnnext {
    right: -40px;
  }

  & .slick-dots {
    bottom: -30px;

    & button {
      background-color: #C4C4C4;
    }

    & .slick-active button {
      background-color: $accent;
    }
  }
}

.product-item {
  border: 1px solid #CDCDCD;
  border-radius: 3px;
  text-align: center;
  padding: 52px 20px 31px;
  transition: all .3s;
  min-height: 400px;
  width: 100%;

  &__wrapper {
    width: 271px;
    position: relative;
    transition: all .3s;

    &.product-item__wrapper--list {
      width: 100%;
    }
  }

  &__favorite {
    position: absolute;
    top: 16px;
    right: 19px;
    width: 24px;
    height: 22px;
    z-index: 5;

    &::before {
      content: '';
      position: absolute;
      width: 24px;
      height: 22px;
      top: 0;
      left: 0;
      background-image: url('../images/favorite.svg');
    }
  }

  &__favorite--active {
    background-image: url('../images/favorite-active.svg');
  }

  &__favorite--active.product-item__favorite::before {
    background-image: none;
  }

  &__img {
    max-width: 100%;
  }

  &__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding: 14px 0 25px;
  }

  &__price {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
  }

  &__basket {
    position: absolute;
    width: 60px;
    height: 40px;
    background-color: $accent;
    border-radius: 10px 0px 0px 0px;
    bottom: 0;
    right: 0;
    padding-top: 7px;
    z-index: 10;
  }

  &__basket-img {}

  &__hover-text {
    padding: 18px 21px;
    background-color: rgba(255, 255, 255, .9);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: inline-block;
    position: absolute;
    top: 30%;
    opacity: 0;
    transition: all .3s;
    color: #2F3035;
  }

  &:hover {
    box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
    color: $accent;
  }

  &:hover .product-item__hover-text {
    opacity: 1;
    color: #2F3035;
  }

  &__notify-link {
    display: none;
  }

  &__notify-text {
    display: none;
    font-family: "SFProDisplay-Bold", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #2F3035;
  }
}

.product-item--sale::before {
  content: 'SALE';
  padding: 8px 15px;
  background-color: $accent;
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.07em;
}

.product-item__wrapper.product-item__not-available {
  & .product-item__title {
    padding-bottom: 13px;
  }

  & .product-item__price {
    display: none;
  }

  & .product-item__basket {
    display: none;
  }

  & .product-item__notify-text {
    display: block;
  }

  & .product-item__notify-link {
    display: block;
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    color: $accent;
  }

  & .product-item__notify-link span {
    border-bottom: 1px solid $accent;
  }
}

.slick-slide img {
  display: inline;
}

.product {
  &__more {
    text-align: center;
    margin-top: 35px;
  }

  &__more-link {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    background: #F0F0F4;
    padding: 16px 43px;
  }
}

.footer {
  background-color: #F0F0F4;

  &__top {
    padding-top: 43px;
  }

  &__top-inner {
    display: flex;
    justify-content: space-between;
  }

  &__top-item {
    width: 200px;
  }

  &__top-newsletter {
    width: 295px;
    margin-right: 50px;
  }

  &__top-title {
    font-family: "SFProDisplay-Bold", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
  }

  &__form {
    margin-top: 34px;
    display: flex;
    justify-content: space-between;
  }

  &__form-input {
    background-color: #fff;
    border: none;
    padding: 0px 12px;
    font-size: 14px;
    line-height: 17px;

    &::placeholder {
      color: #C4C4C4;
    }
  }

  &__form-btn {
    padding: 10px 16px;
    background-color: $accent;
    text-transform: uppercase;
    color: #fff;
    font-family: "SFProDisplay-Semibold", sans-serif;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.12em;
  }

  &__top-social {
    width: 250px;
  }

  &__bottom {
    padding: 46px 0 22px;
    display: flex;
    justify-content: center;
  }

  &__bottom-link {
    font-size: 10px;
    line-height: 12px;
    color: #48494D;
    margin: 0 40px;
  }
}

.footer-list {
  font-size: 14px;
  line-height: 17px;

  &__item {
    padding-top: 10px;
  }

  &__link {}
}

.social-list {
  display: flex;
  align-items: center;
  height: 100%;

  &__item {}

  &__item+&__item {
    margin-left: 30px;
  }

  &__link {}

  &__img {}
}


// Catalog
.breadcrumbs {
  margin-bottom: 40px;

  &__list {}

  &__list-item {
    display: inline-block;
    padding-right: 16px;
    margin-right: 10px;
    position: relative;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #C4C4C4;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 5px;
      background-image: url('../images/link-arrow.svg');
      width: 6px;
      height: 9px;
    }

    &:last-child::after {
      display: none;
    }
  }

  &__list-link {}
}


.catalog {
  margin-bottom: 100px;

  &__title {
    font-family: "SFProDisplay-Bold", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 26px;
  }

  &__filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  &__filter-items {
    & button {
      font-size: 14px;
      line-height: 17px;
      opacity: 0.7;
      padding: 5px 22px;
      background-color: #F0F0F4;
      border-radius: 3px;
    }

    & button+button {
      margin-left: 8px;
    }
  }

  &__filter-btn {
    display: flex;
    align-items: center;

    & button {
      margin: 0;
      padding: 0;
    }

    & button+button {
      margin-left: 10px;
    }
  }

  &__filter-btngrid {
    width: 26px;
    height: 21px;
  }

  &__filter-btnline {
    width: 25px;
    height: 19px;
  }

  &__filter-button {
    opacity: 0.3;
    outline: none;
  }

  &__filter-button--active {
    opacity: 1;
  }

  &__inner {
    display: flex;
  }

  &__inner-aside {
    min-width: 290px;
    margin-right: 10px;
  }

  &__inner-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    & .product-item__wrapper {
      margin-bottom: 30px;
    }
  }
}

.select-item {
  border: 1px solid #D7D9DF;
  font-size: 14px;
  line-height: 17px;
  margin-right: 34px;
  padding: 7px 10px 7px 20px;
}

.pagination {
  width: 100%;
  margin-top: 70px;
}

.pagination-list {
  display: flex;
  justify-content: center;

  &__item {
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    line-height: 22px;
    padding: 5px 13px;
    color: #C4C4C4;
    border: 2px solid transparent;
    margin: 0 4px;

    &.active {
      font-weight: 700;
      border: 2px solid $accent;
      color: $accent;
    }

    & a {
      display: block;
    }
  }
}

.aside-filter {
  &__tabs {
    display: flex;
    justify-content: space-between;
  }

  &__tab {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #C4C4C4;
    width: 50%;
  }

  &__tab.tab--active {
    font-family: "SFProDisplay-Bold", sans-serif;
    font-weight: 700;
    color: #2F3035;

    & span {
      display: inline-block;
      padding-bottom: 7px;
      border-bottom: 2px solid $accent;
    }
  }

  &__tabs-content {}

  &__form {}

  &__list {}

  &__item-drop {
    margin: 40px 0;
  }

  &__item-title {
    font-family: "SFProDisplay-Semibold", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    padding-left: 26px;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;

    &.aside-filter__content-radio {
      flex-wrap: nowrap;
    }
  }

  &__content-box {
    width: 50%;
    margin-bottom: 10px;
  }

  &__content-label {
    font-size: 14px;
    line-height: 17px;
    cursor: pointer;
  }

  &__item-list {
    margin: 46px 0 40px;
  }
}

.filter {
  &__item-drop {
    position: relative;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      background-image: url('../images/arrow-down.svg');
      left: 0;
      bottom: 5px;
      width: 12px;
      height: 8px;
      transform: rotate(0deg);
    }
  }

  &__item-drop--active {
    &::before {
      transform: rotate(180deg);
    }
  }

  &__item-list {
    padding-top: 34px;
    border-bottom: 2px solid #C4C4C4;
    display: flex;
    justify-content: space-between;
  }

  &__item-listtitle {
    font-family: "SFProDisplay-Semibold", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 14px;
    padding-left: 26px;
  }

  &__item-listselect {}
}

.filter-more {
  width: 100%;

  &__btn {
    color: $accent;
    font-size: 14px;
    line-height: 17px;
    border-bottom: 1px solid $accent;
  }
}

.filter-search {
  width: 100%;
  border: 1px solid #E0E0E0;
  height: 30px;
  padding: 0 20px;
  font-size: 12px;
  line-height: 14px;
  margin-top: 10px;
  margin-bottom: 20px;

  &::placeholder {
    color: #BDBEC2;
  }
}

.jq-checkbox,
.jq-radio {
  background: #fff;
  width: 14px;
  height: 14px;
  border: 1px solid #C4C4C4;
  border-radius: 1px;
  box-shadow: none;
  vertical-align: -2px;
  margin: 0 8px 0 0;

  &.focused {}

  &.checked {
    background: $accent;
    border: none;
  }
}

.jq-checkbox.checked .jq-checkbox__div {
  width: 8px;
  height: 6px;
  margin: 4px 0 0 3px;
  border-bottom: none;
  border-left: none;
  transform: rotate(0deg);
  background-image: url('../images/checked-icon.svg');
}

.jq-radio.checked .jq-radio__div {
  width: 0;
  height: 0;
  margin: 0;
  border-radius: 0;
  background: transparent;
  box-shadow: none;
}

.irs--flat {
  width: 100%;
  margin-top: -15px;

  & .irs-from,
  .irs-to,
  .irs-single {
    display: none;
  }

  & .irs-min,
  .irs-max {
    top: 55px;
    padding: 0;
    color: #2F3035;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    font-family: 'Barlow', sans-serif;
    text-shadow: none;
    background-color: transparent;
    border-radius: 0;
    visibility: visible !important;
    padding-left: 27px;
  }

  & .irs-line {
    top: 25px;
    height: 1px;
    background-color: #E0E0E0;
    border-radius: 0;
  }

  & .irs-bar {
    top: 25px;
    height: 3px;
    background-color: $accent;
  }

  & .irs-handle {
    top: 22px;
    height: 8px;
    width: 8px;
    background-color: $accent;
    border-radius: 50%;
  }

  & .irs-handle>i:first-child,
  .irs-handle.state_hover>i:first-child,
  .irs-handle:hover>i:first-child {
    background-color: transparent;
  }
}

.irs-min,
.irs-max {
  &::before {
    position: absolute;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    color: #C4C4C4;
    left: 0;
  }
}

.irs-min::before {
  content: "от";
}

.irs-max::before {
  content: "до";
}


.jq-selectbox {
  &__select {
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #48494D;

    height: 20px;
    padding: 0 25px 0 10px;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    text-shadow: none;
    border: none;

    &:hover,
    &:active {
      background: transparent;
      box-shadow: none;
    }
  }

  &__trigger {
    background-image: url(../images/arrow-down.svg);
    bottom: 5px;
    top: 6px;
    right: 9px;
    width: 12px;
    height: 8px;
    border-left: none;
  }

  &__trigger-arrow {
    position: absolute;
    top: 14px;
    right: 12px;
    width: 0;
    height: 0;
    border: none;
  }

  &.focused &__select {
    border: none;
  }

  & li {
    color: rgba(0, 0, 0, 0.6);
  }

  & li.selected,
  li:hover {
    background-color: rgba(107, 126, 172, 0.05);
    color: rgba(0, 0, 0, 0.6);
  }

  &__dropdown {
    border-radius: 0;
    padding-top: 15px;
  }
}

.btn-checked {
  & .aside-filter__content {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  & .aside-filter__content-box {
    width: auto;
  }

  & .aside-filter__content-label {
    position: relative;
    height: 25px;
    width: 63px;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.07em;
    color: #C4C4C4;
  }

  &__text {
    position: absolute;
    top: -7px;
    left: 50%;
    transform: translateX(-57%);
    z-index: 5;
  }

  & .jq-checkbox {
    height: 25px;
    width: 63px;
    background: #F0F0F4;
    border: none;

    &.checked {
      background: $accent;
      color: #fff;

      &~.btn-checked__text {
        color: #fff;
      }

      & .jq-checkbox__div {
        display: none;
      }
    }
  }
}

.aside-filter__item-btn {
  text-align: center;
}

.filter-btn {
  &__send {
    background: #F0F0F4;
    padding: 16px 85px;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.12em;
    color: #BDBEC2;
    margin-bottom: 15px;
  }

  &__send--active {
    background-color: $accent;
    color: #fff;
  }

  &__reset {
    display: inline-block;
    font-size: 13px;
    line-height: 16px;
    border-bottom: 1px solid #C4C4C4;
    color: #C4C4C4;
  }
}

.filter {
  &__extra {
    font-size: 13px;
    line-height: 16px;
    position: relative;
    padding-right: 29px;
    display: inline-block;
    margin-bottom: 15px;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 4px;
      width: 12px;
      height: 8px;
      background-image: url('../images/arrow-down.svg');
      transform: rotate(180deg);
    }
  }

  &__extra-content {
    display: none;
  }
}

.filter__extra.filter__item-drop--active::after {
  transform: rotate(0deg);
}


.product-card {
  margin-bottom: 80px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__img-box {
    width: 500px;
    padding-top: 64px;
    text-align: center;
    font-family: 'Barlow', sans-serif;
    position: relative;

    &::before {
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.12em;
      padding: 13px 25px;
      border-radius: 3px;
    }
  }

  &__img {}

  &__price-old {
    font-size: 30px;
    line-height: 36px;
    opacity: 0.6;
    margin-bottom: 6px;
    background-image: url('../images/old-line-large.svg');
    background-repeat: no-repeat;
    display: inline-block;
  }

  &__price-new {
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    margin-bottom: 17px;
  }

  &__link {
    border-bottom: 1px solid $accent;
    font-size: 15px;
    line-height: 18px;
    color: $accent;
  }

  &__content {
    width: 570px;
  }

  &__title {
    font-family: "SFProDisplay-Bold", sans-serif;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  &__code {
    font-size: 15px;
    line-height: 18px;
    opacity: 0.6;
    margin-bottom: 22px;
  }

  &__buttons {
    margin-bottom: 50px;

    & a+a {
      margin-left: 30px;
    }
  }

  &__icon-favorite {}

  &__icon-comparison {}

  &__tabs {}

  &__tab {
    font-size: 20px;
    line-height: 24px;
    opacity: 0.6;
    padding-bottom: 5px;
    padding-right: 17px;
    margin-bottom: 5px;
  }

  &__tab+&__tab {
    padding-left: 17px;
  }

  &__tab.tab--active {
    opacity: 1;
    border-bottom: 2px solid $accent;
    font-weight: 700;
    font-family: "SFProDisplay-Bold", sans-serif;
  }

  &__tab-content {}

  &__list {
    margin-bottom: 20px;
  }

  &__item {
    padding: 15px 0 6px;
    border-bottom: 1px solid rgba(47, 48, 53, .1);
    display: flex;
    justify-content: space-between;
  }

  &__item-left {
    padding-right: 15px;
  }

  &__item-right {
    width: 125px;
  }

  &__more {
    color: $accent;
    font-size: 14px;
    font-style: 17px;
    border-bottom: 1px solid $accent;
    margin-bottom: 40px;
  }

  &__btn button {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1.68px;
    text-transform: uppercase;
    color: #fff;
    padding: 16px 56px;
    background: $accent;
    border-radius: 3px;
  }
}

.rate {}


.card {
  &__tabs {
    margin-bottom: 100px;
  }

  &__tab-box {
    background-color: #F0F0F4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 22px 0;
    margin-bottom: 50px;
  }

  &__tab {
    font-size: 20px;
    line-height: 24px;
    opacity: 0.6;

    &.tab--active {
      opacity: 1;
      border-bottom: 2px solid $accent;
    }
  }

  &__tab-content {}

  &__top-line {
    margin-bottom: 10px;
  }

  &__label-search {
    font-size: 17px;
    line-height: 20px;
    color: rgba(47, 48, 53, .7);
  }

  &__input-search {
    background: #F0F0F4;
    border-radius: 3px;
    padding: 9px 37px 9px 17px;
    border: none;
    margin-right: 100px;
  }

  &__label-pickup {
    margin-left: 54px;
    font-size: 17px;
    line-height: 20px;
    color: rgba(47, 48, 53, .7);
  }

  &__list {}

  &__list-item {
    padding: 20px 0;
    border-bottom: 1px solid rgba(47, 48, 53, .1);
    display: flex;
    font-size: 16px;
    line-height: 22px;
    color: rgba(47, 48, 53, .7);
  }

  &__list-itemtitle {
    color: rgb(47, 48, 53);
  }

  &__list-address {
    width: 220px;
    margin-right: 80px;
  }

  &__list-workhours {
    width: 156px;
    margin-right: 96px;
  }

  &__list-available {
    width: 140px;
    margin-right: 60px;
  }

  &__list-num {
    width: 104px;
  }

  &__list-btn {
    margin-left: auto;

    & button {
      font-size: 13px;
      line-height: 16px;
      letter-spacing: 1.56px;
      color: #fff;
      padding: 9px 40px;
      text-transform: uppercase;
      background-color: $accent;
      border-radius: 3px;
    }
  }
}

.workhours {
  display: flex;
  justify-content: space-between;
}

.aside__btn {
  display: none;
}

.product-card__btn-mobile {
  display: none;
}

.footer__topdrop{
  pointer-events: none;
}